@import "@webitel/ui-sdk/src/css/main";

/* disables scrollbar on 100vh auth on small laptops */
body {
	display: flex;
	background: var(--wt-page-wrapper-background-color);
	min-width: 100%;
	min-height: 100%;
	color: var(--text-main-color);
}

#app {
	min-width: 100%;
	min-height: 100%;
}

.table-wrapper {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	gap: var(--spacing-xs);
	padding-top: var(--spacing-xs);
	min-width: 0;
	min-height: 0;
	max-height: 100%;
}

.wt-page-wrapper {
	width: 100%;
}

.wt-page-wrapper__main {
	display: flex;
	flex-grow: 1;
	min-height: 0;
	max-height: 100%;
}

.wt-page-wrapper .main-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wt-page-wrapper .main-container > section {
	display: flex;
	flex-direction: column;
	height: 100%;
}
